<a href="https://colab.research.google.com/github/a00351269/Actividades_Aprendizaje-/blob/main/Actividad6DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ** Actividad Semanal -- 6, visualización**
## **Maestría en Inteligencia Artificial Aplicada**
### **Curso: TC4029.10 Ciencia y analítica de datos (Gpo 10)**
## **Tecnológico de Monterrey**
## **Prof: Dra, Maria de la Paz Rico Fernandez**



### **Alumno: Genaro Ramos Higuera  -  Matrícula A00351269**
### **Fecha: 31 de octubre del 2022**

1.- Descarga los datos y carga el dataset en tu libreta. 

2.- Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

3.- Limpia los datos eliminando los registros nulos o rellena con la media de la columna

4.- Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión

5.- Realiza el conteo de las variables categóricas

6.- Escala los datos, si consideras necesario

7.- Reduce las dimensiones con PCA, si consideras necesario.

7.1.- Indica la varianza de los datos explicada por cada componente seleccionado. Para actividades de exploración de los datos la varianza > 70%

7.2.-Indica la importancia de las variables en cada componente

8.- Elabora los histogramas de los atributos para visualizar su distribución

9.- Realiza la visualización de los datos usando por lo menos 3 gráficos que consideres adecuados: plot, scatter, jointplot, boxplot, areaplot, pie chart, pairplot, bar chart, etc.

10.- Interpreta y explica cada uno de los gráficos indicando cuál es la información más relevante que podría ayudar en el proceso de toma de decisiones.

#1.-Descarga los datos y carga el dataset en tu libreta.

Comenzamos por importar las librerías para trabajar

In [66]:
import pandas as pd
import numpy as np

Proseguimos convirtiendo el archivo csv a trabajar a una data frame

In [79]:
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

#2.- Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

Esta es la informacion del Dataframe que tiene 30,000 registros, y notamos que algunos tienen registros con algunas columnas con datos nulos:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      29999 non-null  float64
 3   X3      29998 non-null  float64
 4   X4      29998 non-null  float64
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29995 non-null  float64
 8   X8      29993 non-null  float64
 9   X9      29991 non-null  float64
 10  X10     29984 non-null  float64
 11  X11     29986 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

In [4]:
df.shape

(30000, 25)

In [5]:
df.dtypes

ID       int64
X1       int64
X2     float64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
Y      float64
dtype: object

Creamos un diccionario con significado cada columna del dataframe.
Y con ello poder decidir que hacer con los datos faltantes.

In [ ]:
columns_name = ['BAL','SEX','EDUCATION','MARRIAGE','AGE','PAYSTAT_1','PAYSTAT_2','PAYSTAT_3','PAYSTAT_4','PAYSTAT_5','PAYSTAT_6','BILL_1','BILL_2','BILL_3','BILL_4','BILL_5','BILL_6','PAY_1',
                'PAY_2','PAY_3','PAY_4','PAY_5','PAY_6','Y']

In [6]:
Meanings_col= ['ID',
              'Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. ',
              'Gender (1 = male; 2 = female)',
              'Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)',
              'Marital status (1 = married; 2 = single; 3 = others)',
              'Age (year)',
              'the repayment status in September, 2005, The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above',
              'the repayment status in August, 2005',
              'the repayment status in July, 2005',
              'the repayment status in June, 2005',
              'the repayment status in May, 2005',
              'the repayment status in April, 2005',
              'amount of bill statement in September, 2005',
              'amount of bill statement in August, 2005',
              'amount of bill statement in July, 2005',
              'amount of bill statement in June, 2005',
              'amount of bill statement in May, 2005',
              'amount of bill statement in April, 2005',
              'amount paid in September, 2005',
              'amount paid in August, 2005',
              'amount paid in July, 2005',
              'amount paid in June, 2005',
              'amount paid in May, 2005',
              'amount paid in April, 2005',
              'the real probability of default as the response variable']
meanings = {}
n = 0
for col in df.columns:
  meanings[col] = Meanings_col[n]
  n = n + 1
meanings

{'ID': 'ID',
 'X1': 'Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. ',
 'X2': 'Gender (1 = male; 2 = female)',
 'X3': 'Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)',
 'X4': 'Marital status (1 = married; 2 = single; 3 = others)',
 'X5': 'Age (year)',
 'X6': 'the repayment status in September, 2005, The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above',
 'X7': 'the repayment status in August, 2005',
 'X8': 'the repayment status in July, 2005',
 'X9': 'the repayment status in June, 2005',
 'X10': 'the repayment status in May, 2005',
 'X11': 'the repayment status in April, 2005',
 'X12': 'amount of bill statement in September, 2005',
 'X13': 'amount of bill statement in August, 2005',
 'X14': 'amount of bill statement in July, 2005',
 'X15': 'amount of bill statement in June, 2005',
 'X16': 'amount of bill statement in May, 2005',
 'X17': 'amount of bill statement in April, 2005',
 'X18': 'amount paid in September, 2005',
 'X19': 'amount paid in August, 2005',
 'X20': 'amount paid in July, 2005',
 'X21': 'amount paid in June, 2005',
 'X22': 'amount paid in May, 2005',
 'X23': 'amount paid in April, 2005',
 'Y': 'the real probability of default as the response variable'}

#3.- Limpia los datos eliminando los registros nulos o rellena con la media de la columna


Primeramente verificamos que en nuestro archivo no se encuentren ID repetidos, y esto lo hacemos con las siguientes instrucciones:

In [7]:
if df['ID'].count() == df["ID"].unique().size:
  print ("Tenemos los siguientes registros ID únicos: ", df["ID"].unique().size)
else: 
  print ("Existen registros algunos repetidos y solo tenemos registros ID únicos: ", df["ID"].unique().size)

Tenemos los siguientes registros ID únicos:  30000

In [8]:
#Saquemos un reporte de los registros nulos.
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

ID
False    30000
Name: ID, dtype: int64

X1
False    30000
Name: X1, dtype: int64

X2
False    29999
True         1
Name: X2, dtype: int64

X3
False    29998
True         2
Name: X3, dtype: int64

X4
False    29998
True         2
Name: X4, dtype: int64

X5
False    29995
True         5
Name: X5, dtype: int64

X6
False    29997
True         3
Name: X6, dtype: int64

X7
False    29995
True         5
Name: X7, dtype: int64

X8
False    29993
True         7
Name: X8, dtype: int64

X9
False    29991
True         9
Name: X9, dtype: int64

X10
False    29984
True        16
Name: X10, dtype: int64

X11
False    29986
True        14
Name: X11, dtype: int64

X12
False    29989
True        11
Name: X12, dtype: int64

X13
False    29989
True        11
Name: X13, dtype: int64

X14
False    29987
True        13
Name: X14, dtype: int64

X15
False    29985
True        15
Name: X15, dtype: int64

X16
False    29983
True        17
Name: X16, dtype: int64

X17
False    29990
True        10
Name: X17, dtype: int64

X18
False    29992
True         8
Name: X18, dtype: int64

X19
False    29991
True         9
Name: X19, dtype: int64

X20
False    29992
True         8
Name: X20, dtype: int64

X21
False    29989
True        11
Name: X21, dtype: int64

X22
False    29989
True        11
Name: X22, dtype: int64

X23
False    29995
True         5
Name: X23, dtype: int64

Y
False    29997
True         3
Name: Y, dtype: int64

Ahora veamos los valores de Monto de Crédito Otorgados que sean válidos.

Verificamos  que X1 incluyan solo montos positivos :

In [9]:
df.loc[df['X1'] < 0] # para saber que registros tienen un monto negativo

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

Seguido, checamos que X2 solo sean valores de 1 o 2

In [11]:
df_clean=df.copy()

In [12]:
(df_clean['X2'].values < 1).sum() + (df_clean['X2'].values > 2).sum()

0

In [13]:
hombres=df_clean.loc[df_clean['X2'] == 1,"X2"].count()
mujeres=df_clean.loc[df_clean['X2'] == 2,"X2"].count()
prop_hombres=hombres/(hombres+mujeres)
prop_mujeres=mujeres/(hombres+mujeres)

print ("De los cuales hombres son ",hombres," y mujeres ", mujeres)
print ("Con proporcion de hombres de ", prop_hombres, "y de mujeres de ", prop_mujeres, " respectivamente.")

De los cuales hombres son  11887  y mujeres  18112
Con proporcion de hombres de  0.39624654155138506 y de mujeres de  0.6037534584486149  respectivamente.

Sabemos que hay 30,000 registros esto significa que uno de ellos es Nulo

In [16]:
# creamos una serie booleana para encontrar el registro nulo
sexo_nulo = pd.isnull(df_clean["X2"])
   
# filtramos los datos
# desplegamos el datos con "X2" = NaN
df_clean[sexo_nulo]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
24365,24366,130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0

In [17]:
#Ahora reeemplazamos el registro con sexo nulo dandole el 2 por ser el mayor porcentaje con el 60%
df_clean["X2"].fillna(2,inplace=True)
df_clean.loc[24365:24365]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
24365,24366,130000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0

Ahora seguimos con X3, que son el nivel de educación solo debe admitir valores de 1, 2, 3, y 4 para cualquier otro. Así que verificamos

In [18]:
print('Valores menores a 1: ' + str((df_clean['X3'].values < 1).sum()))
print('Valores mayores a 4: ' + str((df_clean['X3'].values > 4).sum()))

Valores menores a 1: 14
Valores mayores a 4: 331

Vemos que hay 331 valores mayores a 4. En este caso tomaremos la suposición de que todo valor mayor a 4 puede entrar dentro del valor 4, que significa "4 = others".

In [19]:
X3_values = []
for i in range(0,len(df_clean.index)):
  if df_clean['X3'].iloc[i] > 4:
    if df_clean['X3'].iloc[i] not in X3_values:
      X3_values.append(int(df_clean['X3'].iloc[i]))
for i in X3_values:
  df_clean['X3'].replace(i,4,inplace=True)

print('Valores mayores a 4: ' + str((df_clean['X3'].values > 4).sum()))

Valores mayores a 4: 0

Mientras que los valores menores a 1, que solo son 14, los remplazaremos el promedio

In [20]:
X3_mean = df_clean.X3.mean()
print('Promedio de X3: ' + str(int(X3_mean)))
df_clean['X3'].replace(0,int(X3_mean),inplace=True)
print('Valores menores a 1: ' + str((df_clean['X3'].values < 1).sum()))

Promedio de X3: 1
Valores menores a 1: 0

In [21]:
# creamos una serie booleana para encontrar registros nulos en X3
educacion_nulos = pd.isnull(df_clean["X3"])
   
# filtramos los datos
# desplegamos los registros con "X3" = NaN
df_clean[educacion_nulos]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
6227,6228,30000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0
24365,24366,130000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0

In [22]:
# les asignamos la media de educacion = 1 a los 2 registros nulos encontrados
df_clean["X3"].fillna(1,inplace=True)

In [23]:
df_clean.loc[24365:24365]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
24365,24366,130000,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0

In [24]:
df_clean.loc[6227:6227]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
6227,6228,30000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0

No debiesen haber registros nulos en Educacion X3 y lo comprobamos así:

In [26]:
educacion_nulos = pd.isnull(df_clean["X3"])
   
# filtramos los datos
# desplegamos los registros con "X3" = NaN
df_clean[educacion_nulos]

Empty DataFrame
Columns: [ID, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]

X4 solo debería admitir valores de 1, 2, y 3. así que verificamos

In [27]:
print('Valores menores a 1: ' + str((df_clean['X4'].values < 1).sum()))
print('Valores mayores a 3: ' + str((df_clean['X4'].values > 3).sum()))

Valores menores a 1: 54
Valores mayores a 3: 0

Descubrimos 54 valores de 0, así que sustituimos por el promedio

In [28]:
X4_mean = df_clean.X4.mean()
print('Promedio de X4: ' + str(int(X4_mean)))
df_clean['X4'].replace(0,int(X4_mean),inplace=True)
print('Valores menores a 1: ' + str((df_clean['X4'].values < 1).sum()))

Promedio de X4: 1
Valores menores a 1: 0

In [29]:
# creamos una serie booleana para encontrar registros nulos en X4
marital_status_nulos = pd.isnull(df_clean["X4"])
   
# filtramos los datos
# desplegamos los registros con "X4" = NaN
df_clean[marital_status_nulos]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
6227,6228,30000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0
24365,24366,130000,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0

In [30]:
# les asignamos la media de Marital Status = 1 Married a los 2 registros nulos encontrados
df_clean["X4"].fillna(1,inplace=True)

In [31]:
df_clean.loc[6227:6227, "ID":"X4"]

        ID     X1   X2   X3   X4
6227  6228  30000  1.0  1.0  1.0

In [32]:
df_clean.loc[24365:24365, "ID":"X4"]

          ID      X1   X2   X3   X4
24365  24366  130000  2.0  1.0  1.0

Ahora checamos X5. Donde no debería haber menores a 18

In [33]:
print('Valores menores a 18: ' + str((df_clean['X5'].values < 18).sum()))

Valores menores a 18: 0

In [34]:
# creamos una serie booleana para encontrar registros nulos en X5
edad_nulos = pd.isnull(df_clean["X5"])
   
# filtramos los datos
# desplegamos los registros con "X5" = NaN
df_clean[edad_nulos]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
182,183,500000,2.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,...,122967.0,108834.0,70064.0,70010.0,30357.0,30000.0,20000.0,52183.0,20000.0,0.0
219,220,310000,2.0,1.0,2.0,NaN,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,4542.0,126.0,0.0,0.0,0.0,0.0,0.0
239,240,140000,2.0,2.0,3.0,NaN,0.0,0.0,0.0,0.0,...,19068.0,16409.0,16383.0,3000.0,2000.0,2198.0,1000.0,3000.0,2399.0,1.0
6227,6228,30000,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0
24365,24366,130000,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0

In [35]:
promedio_edad=int(df_clean['X5'].mean())
promedio_edad

35

Reemplazamos los 5 registros nulos por la edad promedio de 35 años, ya que apenas son el 0.016% del total de registros.

In [36]:
df_clean["X5"].fillna(promedio_edad,inplace=True)

In [37]:
df_clean.loc[182:182, "ID":"X5"]

      ID      X1   X2   X3   X4    X5
182  183  500000  2.0  1.0  1.0  35.0

In [38]:
df_clean.loc[219:219, "ID":"X5"]

      ID      X1   X2   X3   X4    X5
219  220  310000  2.0  1.0  2.0  35.0

In [39]:
df_clean.loc[239:239, "ID":"X5"]

      ID      X1   X2   X3   X4    X5
239  240  140000  2.0  2.0  3.0  35.0

In [40]:
df_clean.loc[6227:6227, "ID":"X5"]

        ID     X1   X2   X3   X4    X5
6227  6228  30000  1.0  1.0  1.0  35.0

In [41]:
df_clean.loc[24365:24365, "ID":"X5"]

          ID      X1   X2   X3   X4    X5
24365  24366  130000  2.0  1.0  1.0  35.0

Para X6-X11, no deben haber valores menores a -1, ni mayores a 9

In [42]:
print('Valores menores a -1: ' + str((df_clean.iloc[:,6:12].values < -1).sum()))
print('Valores mayores a 9: ' + str((df_clean.iloc[:,6:12].values > 9).sum()))

Valores menores a -1: 24415
Valores mayores a 9: 0

In [43]:
print('Encontramos que son iguales a -2: ' + str((df_clean.iloc[:,6:12].values == -2).sum()))

Encontramos que son iguales a -2: 24415

En este caso, asumiremos que los Valores Menores a -1, esto es -2, equivalen a -1 y se asume o que son errores de captura, o significan que llevan periodos consecutivos cumpliendo. Ya que -1 dice que se pagó a tiempo, y cualquier valor mayor a ese son los meses que se han atrasado en pagos.

In [44]:
df_clean.iloc[:,6:12] = df_clean.iloc[:,6:12].replace(-2,-1)
print('Valores menores a -1: ' + str((df_clean.iloc[:,6:12].values < -1).sum()))

Valores menores a -1: 0

In [45]:
(df_clean.iloc[:,6:7].values == 0).sum()

14736

Ahora veamos a los registros con valores NULOS en las Columnas X6 a X11

In [46]:
keys=["X6","X7","X8","X9","X10","X11"]

for i in keys:
  nulos = pd.isnull(df_clean[i])
  print(df_clean[nulos])
  print("Mediana ", df_clean[i].median())
  print("Registros NO NULOS: ", df_clean[i].count())

          ID      X1   X2   X3   X4    X5  X6  X7  X8  X9  ...  X15  X16  \
6227    6228   30000  1.0  1.0  1.0  35.0 NaN NaN NaN NaN  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0 NaN NaN NaN NaN  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0 NaN NaN NaN NaN  ...  NaN  NaN

           X17     X18     X19     X20     X21     X22    X23    Y
6227   21120.0  1586.0  1365.0  1663.0  5106.0  1050.0    0.0  0.0
24123      NaN     NaN     NaN     NaN     NaN     NaN  360.0  0.0
24365      NaN     NaN     NaN     NaN     NaN     NaN  390.0  0.0

[3 rows x 25 columns]
Mediana  0.0
Registros NO NULOS:  29997
          ID      X1   X2   X3   X4    X5   X6  X7  X8  X9  ...  X15  X16  \
6227    6228   30000  1.0  1.0  1.0  35.0  NaN NaN NaN NaN  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  NaN NaN NaN NaN  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  NaN NaN NaN NaN  ...  NaN  NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0 NaN NaN NaN  ...  NaN  NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0 NaN NaN NaN  ...  NaN  NaN

           X17     X18     X19     X20     X21      X22     X23    Y
6227   21120.0  1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
24123      NaN     NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN     NaN     NaN     NaN     NaN      NaN   390.0  0.0
29832  20090.0  1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833  19103.0   390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[5 rows x 25 columns]
Mediana  0.0
Registros NO NULOS:  29995
          ID      X1   X2   X3   X4    X5   X6   X7  X8   X9  ...      X15  \
6227    6228   30000  1.0  1.0  1.0  35.0  NaN  NaN NaN  NaN  ...      NaN
17989  17990   80000  1.0  2.0  1.0  46.0  0.0  0.0 NaN  0.0  ...  64237.0
18003  18004   70000  1.0  2.0  2.0  33.0  1.0  2.0 NaN  7.0  ...  38922.0
24123  24124   50000  1.0  1.0  2.0  29.0  NaN  NaN NaN  NaN  ...      NaN
24365  24366  130000  2.0  1.0  1.0  35.0  NaN  NaN NaN  NaN  ...      NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  NaN NaN  NaN  ...      NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  NaN NaN  NaN  ...      NaN

           X16      X17      X18     X19     X20     X21      X22     X23    Y
6227       NaN  21120.0   1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
17989  47890.0  48036.0   3542.0  3500.0  2500.0  2000.0   2500.0  2000.0  0.0
18003  38318.0  38133.0  12000.0     0.0  2500.0     0.0   1000.0  1500.0  0.0
24123      NaN      NaN      NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN      NaN      NaN     NaN     NaN     NaN      NaN   390.0  0.0
29832      NaN  20090.0   1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833      NaN  19103.0    390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[7 rows x 25 columns]
Mediana  0.0
Registros NO NULOS:  29993
          ID      X1   X2   X3   X4    X5   X6   X7   X8  X9  ...      X15  \
160      161   30000  1.0  1.0  2.0  41.0  2.0  2.0  2.0 NaN  ...  28168.0
6227    6228   30000  1.0  1.0  1.0  35.0  NaN  NaN  NaN NaN  ...      NaN
23990  23991   60000  1.0  2.0  2.0  26.0  0.0  0.0  0.0 NaN  ...  58938.0
23991  23992   50000  1.0  3.0  2.0  25.0  0.0  0.0  0.0 NaN  ...  49485.0
23992  23993   50000  1.0  2.0  2.0  24.0  0.0  0.0  0.0 NaN  ...  41286.0
24123  24124   50000  1.0  1.0  2.0  29.0  NaN  NaN  NaN NaN  ...      NaN
24365  24366  130000  2.0  1.0  1.0  35.0  NaN  NaN  NaN NaN  ...      NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  NaN  NaN NaN  ...      NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  NaN  NaN NaN  ...      NaN

           X16      X17     X18     X19     X20     X21      X22     X23    Y
160    27579.0  28321.0  3500.0     0.0  2200.0     NaN   1200.0  1250.0  0.0
6227       NaN  21120.0  1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
23990  30101.0  29735.0  2113.0  2500.0  3000.0  2500.0   1500.0  1100.0  0.0
23991  49083.0  45187.0  2100.0  2200.0  3500.0  2000.0      0.0  5151.0  0.0
23992  16764.0  16960.0  2150.0  2352.0  1239.0   717.0    585.0   589.0  0.0
24123      NaN      NaN     NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN      NaN     NaN     NaN     NaN     NaN      NaN   390.0  0.0
29832      NaN  20090.0  1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833      NaN  19103.0   390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[9 rows x 25 columns]
Mediana  0.0
Registros NO NULOS:  29991
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...       X15  \
49        50   20000  1.0  1.0  2.0  24.0  0.0  0.0  0.0  0.0  ...   19865.0
233      234  190000  1.0  2.0  2.0  34.0  2.0  0.0  0.0  0.0  ...  142323.0
6227    6228   30000  1.0  1.0  1.0  35.0  NaN  NaN  NaN  NaN  ...       NaN
6268    6269  120000  1.0  2.0  2.0  29.0  1.0  2.0  0.0  0.0  ...   91380.0
6269    6270  400000  2.0  1.0  2.0  27.0  1.0 -1.0 -1.0  0.0  ...   12640.0
6270    6271   50000  2.0  1.0  1.0  55.0  0.0  0.0  0.0  0.0  ...   19431.0
6382    6383   80000  2.0  2.0  1.0  30.0  1.0  2.0  0.0  0.0  ...   75374.0
6383    6384   90000  1.0  2.0  2.0  29.0  0.0  0.0  0.0  0.0  ...   69362.0
6384    6385   20000  2.0  2.0  2.0  22.0  0.0  0.0  0.0  0.0  ...   20055.0
24123  24124   50000  1.0  1.0  2.0  29.0  NaN  NaN  NaN  NaN  ...       NaN
24365  24366  130000  2.0  1.0  1.0  35.0  NaN  NaN  NaN  NaN  ...       NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...       NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...       NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...       NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  NaN  NaN  NaN  ...       NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  NaN  NaN  NaN  ...       NaN

            X16       X17     X18      X19      X20     X21      X22     X23  \
49      20480.0   20063.0  1318.0   1315.0    704.0   928.0    912.0  1069.0
233    140120.0  150052.0  5000.0   5000.0  10000.0     0.0  12118.0  2769.0
6227        NaN   21120.0  1586.0   1365.0   1663.0  5106.0   1050.0     0.0
6268    93263.0   95079.0     0.0   3200.0   6800.0  3500.0   3500.0     0.0
6269    14805.0     238.0   140.0  12527.0    253.0  2305.0    238.0   238.0
6270    19837.0   20232.0  1775.0   1815.0    695.0   719.0    724.0   750.0
6382    77158.0   78710.0     0.0   3299.0   2699.0  3000.0   2987.0  3100.0
6383    70537.0   56775.0  4400.0   4111.0   2100.0  2200.0   2510.0  2000.0
6384    19606.0   19925.0  1298.0   1909.0   1666.0  5000.0    703.0   775.0
24123       NaN       NaN     NaN      NaN      NaN     NaN      NaN   360.0
24365       NaN       NaN     NaN      NaN      NaN     NaN      NaN   390.0
29733       NaN       NaN     NaN      NaN      NaN     NaN      NaN  3081.0
29734       NaN       NaN     NaN      NaN      NaN     NaN      NaN   237.0
29735       NaN       NaN     NaN      NaN      NaN     NaN      NaN   406.0
29832       NaN   20090.0  1279.0   3000.0   6668.0   468.0    507.0  5582.0
29833       NaN   19103.0   390.0    780.0      0.0   806.0  19103.0  1000.0

         Y
49     0.0
233    1.0
6227   0.0
6268   1.0
6269   0.0
6270   0.0
6382   0.0
6383   0.0
6384   0.0
24123  0.0
24365  0.0
29733  0.0
29734  1.0
29735  1.0
29832  0.0
29833  1.0

[16 rows x 25 columns]
Mediana  0.0
Registros NO NULOS:  29984
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
6227    6228   30000  1.0  1.0  1.0  35.0  NaN  NaN  NaN  NaN  ...      NaN
6268    6269  120000  1.0  2.0  2.0  29.0  1.0  2.0  0.0  0.0  ...  91380.0
6269    6270  400000  2.0  1.0  2.0  27.0  1.0 -1.0 -1.0  0.0  ...  12640.0
6270    6271   50000  2.0  1.0  1.0  55.0  0.0  0.0  0.0  0.0  ...  19431.0
6382    6383   80000  2.0  2.0  1.0  30.0  1.0  2.0  0.0  0.0  ...  75374.0
6383    6384   90000  1.0  2.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  69362.0
6384    6385   20000  2.0  2.0  2.0  22.0  0.0  0.0  0.0  0.0  ...  20055.0
24123  24124   50000  1.0  1.0  2.0  29.0  NaN  NaN  NaN  NaN  ...      NaN
24365  24366  130000  2.0  1.0  1.0  35.0  NaN  NaN  NaN  NaN  ...      NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...      NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...      NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...      NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  NaN  NaN  NaN  ...      NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  NaN  NaN  NaN  ...      NaN

           X16      X17     X18      X19     X20     X21      X22     X23    Y
6227       NaN  21120.0  1586.0   1365.0  1663.0  5106.0   1050.0     0.0  0.0
6268   93263.0  95079.0     0.0   3200.0  6800.0  3500.0   3500.0     0.0  1.0
6269   14805.0    238.0   140.0  12527.0   253.0  2305.0    238.0   238.0  0.0
6270   19837.0  20232.0  1775.0   1815.0   695.0   719.0    724.0   750.0  0.0
6382   77158.0  78710.0     0.0   3299.0  2699.0  3000.0   2987.0  3100.0  0.0
6383   70537.0  56775.0  4400.0   4111.0  2100.0  2200.0   2510.0  2000.0  0.0
6384   19606.0  19925.0  1298.0   1909.0  1666.0  5000.0    703.0   775.0  0.0
24123      NaN      NaN     NaN      NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN      NaN     NaN      NaN     NaN     NaN      NaN   390.0  0.0
29733      NaN      NaN     NaN      NaN     NaN     NaN      NaN  3081.0  0.0
29734      NaN      NaN     NaN      NaN     NaN     NaN      NaN   237.0  1.0
29735      NaN      NaN     NaN      NaN     NaN     NaN      NaN   406.0  1.0
29832      NaN  20090.0  1279.0   3000.0  6668.0   468.0    507.0  5582.0  0.0
29833      NaN  19103.0   390.0    780.0     0.0   806.0  19103.0  1000.0  1.0

[14 rows x 25 columns]
Mediana  0.0
Registros NO NULOS:  29986

In [47]:
keys=["X6","X7","X8","X9","X10","X11"] #imputamos la mediana a las casillas nulas de cada columna X6 a la X11
copiadf=df_clean
for i in keys:
  nulos = pd.isnull(copiadf[i])
  mediana=(copiadf[i].median())
  copiadf[i].fillna(mediana,inplace=True)

In [48]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      30000 non-null  float64
 3   X3      30000 non-null  float64
 4   X4      30000 non-null  float64
 5   X5      30000 non-null  float64
 6   X6      30000 non-null  float64
 7   X7      30000 non-null  float64
 8   X8      30000 non-null  float64
 9   X9      30000 non-null  float64
 10  X10     30000 non-null  float64
 11  X11     30000 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

Para X12-X23 checamos que no existan valores negativos

In [49]:
print('Valores menores a 0: ' + str((df_clean.iloc[:,12:24].values < 0).sum()))

Valores menores a 0: 3932

En este caso, asumiremos que es un error de captura y son valores positivos. En la realidad tendríamos que verificar como se capturaron los datos para asegurarnos que sea posible hacer esto, o entender porque existen valores negativos y qué hacer con ellos

In [50]:
for col in df_clean.iloc[:,12:24].columns:
  df_clean[col] = df_clean[col].abs()
print('Valores menores a 0: ' + str((df_clean.iloc[:,12:24].values < 0).sum()))

Valores menores a 0: 0

In [52]:
keys=["X12","X13","X14","X15","X16","X17", "X18", "X19","X20","X21","X22", "X23"]

for i in keys:
  nulos = pd.isnull(df_clean[i])
  print(df_clean[nulos])
  print("Mediana ", df_clean[i].median())
  print("Registros NO NULOS: ", df_clean[i].count())

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...  X15  X16  \
18        19  360000  2.0  1.0  1.0  49.0  1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
6227    6228   30000  1.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...  NaN  NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...  NaN  NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...  NaN  NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  0.0  0.0  0.0  ...  NaN  NaN

           X17     X18     X19     X20     X21      X22     X23    Y
18         NaN     0.0     0.0     0.0     0.0      0.0     0.0  0.0
6227   21120.0  1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
24123      NaN     NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN     NaN     NaN     NaN     NaN      NaN   390.0  0.0
29733      NaN     NaN     NaN     NaN     NaN      NaN  3081.0  0.0
29734      NaN     NaN     NaN     NaN     NaN      NaN   237.0  1.0
29735      NaN     NaN     NaN     NaN     NaN      NaN   406.0  1.0
29824      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29825      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29832  20090.0  1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833  19103.0   390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[11 rows x 25 columns]
Mediana  22396.0
Registros NO NULOS:  29989
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...  X15  X16  \
18        19  360000  2.0  1.0  1.0  49.0  1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
6227    6228   30000  1.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...  NaN  NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...  NaN  NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...  NaN  NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  0.0  0.0  0.0  ...  NaN  NaN

           X17     X18     X19     X20     X21      X22     X23    Y
18         NaN     0.0     0.0     0.0     0.0      0.0     0.0  0.0
6227   21120.0  1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
24123      NaN     NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN     NaN     NaN     NaN     NaN      NaN   390.0  0.0
29733      NaN     NaN     NaN     NaN     NaN      NaN  3081.0  0.0
29734      NaN     NaN     NaN     NaN     NaN      NaN   237.0  1.0
29735      NaN     NaN     NaN     NaN     NaN      NaN   406.0  1.0
29824      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29825      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29832  20090.0  1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833  19103.0   390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[11 rows x 25 columns]
Mediana  21237.0
Registros NO NULOS:  29989
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
18        19  360000  2.0  1.0  1.0  49.0  1.0 -1.0 -1.0 -1.0  ...      NaN
6227    6228   30000  1.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...      NaN
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...      NaN
17990  17991   50000  1.0  3.0  2.0  41.0  0.0  0.0  0.0  0.0  ...  50269.0
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...      NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...      NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...      NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...      NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...      NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...      NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...      NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  0.0  0.0  0.0  ...      NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  0.0  0.0  0.0  ...      NaN

           X16      X17     X18     X19     X20     X21      X22     X23    Y
18         NaN      NaN     0.0     0.0     0.0     0.0      0.0     0.0  0.0
6227       NaN  21120.0  1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
6232       NaN      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
17990  29182.0  29096.0  4200.0  2200.0  3300.0  1200.0   1100.0  1100.0  0.0
24123      NaN      NaN     NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN      NaN     NaN     NaN     NaN     NaN      NaN   390.0  0.0
29733      NaN      NaN     NaN     NaN     NaN     NaN      NaN  3081.0  0.0
29734      NaN      NaN     NaN     NaN     NaN     NaN      NaN   237.0  1.0
29735      NaN      NaN     NaN     NaN     NaN     NaN      NaN   406.0  1.0
29824      NaN      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29825      NaN      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29832      NaN  20090.0  1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833      NaN  19103.0   390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[13 rows x 25 columns]
Mediana  20109.0
Registros NO NULOS:  29987
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...  X15  X16  \
18        19  360000  2.0  1.0  1.0  49.0  1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
6227    6228   30000  1.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...  NaN  NaN
6276    6277   30000  1.0  3.0  1.0  32.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
6277    6278  110000  2.0  1.0  2.0  32.0  1.0  2.0  0.0  0.0  ...  NaN  NaN
6278    6279   20000  2.0  3.0  2.0  54.0  0.0  0.0  2.0  2.0  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...  NaN  NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...  NaN  NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...  NaN  NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  0.0  0.0  0.0  ...  NaN  NaN

           X17     X18     X19     X20     X21      X22     X23    Y
18         NaN     0.0     0.0     0.0     0.0      0.0     0.0  0.0
6227   21120.0  1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
6232       NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
6276    1400.0  3000.0  1431.0   483.0     0.0    700.0     0.0  0.0
6277   25453.0  1210.0  2056.0  1200.0  2300.0      0.0  1000.0  1.0
6278    9116.0  2000.0  1000.0  1000.0     0.0    500.0   500.0  0.0
24123      NaN     NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365      NaN     NaN     NaN     NaN     NaN      NaN   390.0  0.0
29733      NaN     NaN     NaN     NaN     NaN      NaN  3081.0  0.0
29734      NaN     NaN     NaN     NaN     NaN      NaN   237.0  1.0
29735      NaN     NaN     NaN     NaN     NaN      NaN   406.0  1.0
29824      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29825      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29832  20090.0  1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833  19103.0   390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[15 rows x 25 columns]
Mediana  19068.0
Registros NO NULOS:  29985
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
18        19  360000  2.0  1.0  1.0  49.0  1.0 -1.0 -1.0 -1.0  ...      NaN
175      176  130000  1.0  3.0  1.0  56.0  1.0  2.0  2.0  2.0  ...  68557.0
240      241   60000  2.0  1.0  2.0  28.0  1.0  2.0  2.0 -1.0  ...      0.0
6227    6228   30000  1.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...      NaN
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...      NaN
6276    6277   30000  1.0  3.0  1.0  32.0  0.0  0.0  0.0  0.0  ...      NaN
6277    6278  110000  2.0  1.0  2.0  32.0  1.0  2.0  0.0  0.0  ...      NaN
6278    6279   20000  2.0  3.0  2.0  54.0  0.0  0.0  2.0  2.0  ...      NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...      NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...      NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...      NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...      NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...      NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...      NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...      NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  0.0  0.0  0.0  ...      NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  0.0  0.0  0.0  ...      NaN

       X16      X17     X18     X19     X20     X21      X22     X23    Y
18     NaN      NaN     0.0     0.0     0.0     0.0      0.0     0.0  0.0
175    NaN  71345.0  3000.0  3000.0  3000.0  5500.0      0.0     0.0  1.0
240    NaN   2285.0     0.0     0.0     0.0     0.0   2285.0     0.0  0.0
6227   NaN  21120.0  1586.0  1365.0  1663.0  5106.0   1050.0     0.0  0.0
6232   NaN      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
6276   NaN   1400.0  3000.0  1431.0   483.0     0.0    700.0     0.0  0.0
6277   NaN  25453.0  1210.0  2056.0  1200.0  2300.0      0.0  1000.0  1.0
6278   NaN   9116.0  2000.0  1000.0  1000.0     0.0    500.0   500.0  0.0
24123  NaN      NaN     NaN     NaN     NaN     NaN      NaN   360.0  0.0
24365  NaN      NaN     NaN     NaN     NaN     NaN      NaN   390.0  0.0
29733  NaN      NaN     NaN     NaN     NaN     NaN      NaN  3081.0  0.0
29734  NaN      NaN     NaN     NaN     NaN     NaN      NaN   237.0  1.0
29735  NaN      NaN     NaN     NaN     NaN     NaN      NaN   406.0  1.0
29824  NaN      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29825  NaN      NaN     NaN     NaN     NaN     NaN      NaN     NaN  NaN
29832  NaN  20090.0  1279.0  3000.0  6668.0   468.0    507.0  5582.0  0.0
29833  NaN  19103.0   390.0   780.0     0.0   806.0  19103.0  1000.0  1.0

[17 rows x 25 columns]
Mediana  18128.0
Registros NO NULOS:  29983
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...  X15  X16  \
18        19  360000  2.0  1.0  1.0  49.0  1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
38        39   50000  1.0  1.0  2.0  25.0  1.0 -1.0 -1.0 -1.0  ...  0.0  0.0
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...  NaN  NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...  NaN  NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...  NaN  NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...  NaN  NaN

       X17    X18  X19  X20  X21  X22     X23    Y
18     NaN    0.0  0.0  0.0  0.0  0.0     0.0  0.0
38     NaN  780.0  0.0  0.0  0.0  0.0     0.0  1.0
6232   NaN    NaN  NaN  NaN  NaN  NaN     NaN  NaN
24123  NaN    NaN  NaN  NaN  NaN  NaN   360.0  0.0
24365  NaN    NaN  NaN  NaN  NaN  NaN   390.0  0.0
29733  NaN    NaN  NaN  NaN  NaN  NaN  3081.0  0.0
29734  NaN    NaN  NaN  NaN  NaN  NaN   237.0  1.0
29735  NaN    NaN  NaN  NaN  NaN  NaN   406.0  1.0
29824  NaN    NaN  NaN  NaN  NaN  NaN     NaN  NaN
29825  NaN    NaN  NaN  NaN  NaN  NaN     NaN  NaN

[10 rows x 25 columns]
Mediana  17135.0
Registros NO NULOS:  29990
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...  X15  X16  \
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...  NaN  NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...  NaN  NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...  NaN  NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...  NaN  NaN

       X17  X18  X19  X20  X21  X22     X23    Y
6232   NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
24123  NaN  NaN  NaN  NaN  NaN  NaN   360.0  0.0
24365  NaN  NaN  NaN  NaN  NaN  NaN   390.0  0.0
29733  NaN  NaN  NaN  NaN  NaN  NaN  3081.0  0.0
29734  NaN  NaN  NaN  NaN  NaN  NaN   237.0  1.0
29735  NaN  NaN  NaN  NaN  NaN  NaN   406.0  1.0
29824  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
29825  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN

[8 rows x 25 columns]
Mediana  2100.0
Registros NO NULOS:  29992
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...  X15  \
64        65  130000  2.0  2.0  1.0  51.0 -1.0 -1.0 -1.0 -1.0  ...  0.0
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...  NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...  NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...  NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...  NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...  NaN

          X16  X17  X18  X19  X20     X21  X22     X23    Y
64     2353.0  0.0  0.0  NaN  0.0  2353.0  0.0     0.0  0.0
6232      NaN  NaN  NaN  NaN  NaN     NaN  NaN     NaN  NaN
24123     NaN  NaN  NaN  NaN  NaN     NaN  NaN   360.0  0.0
24365     NaN  NaN  NaN  NaN  NaN     NaN  NaN   390.0  0.0
29733     NaN  NaN  NaN  NaN  NaN     NaN  NaN  3081.0  0.0
29734     NaN  NaN  NaN  NaN  NaN     NaN  NaN   237.0  1.0
29735     NaN  NaN  NaN  NaN  NaN     NaN  NaN   406.0  1.0
29824     NaN  NaN  NaN  NaN  NaN     NaN  NaN     NaN  NaN
29825     NaN  NaN  NaN  NaN  NaN     NaN  NaN     NaN  NaN

[9 rows x 25 columns]
Mediana  2009.0
Registros NO NULOS:  29991
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...  X15  X16  \
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...  NaN  NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...  NaN  NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...  NaN  NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...  NaN  NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...  NaN  NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...  NaN  NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...  NaN  NaN

       X17  X18  X19  X20  X21  X22     X23    Y
6232   NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
24123  NaN  NaN  NaN  NaN  NaN  NaN   360.0  0.0
24365  NaN  NaN  NaN  NaN  NaN  NaN   390.0  0.0
29733  NaN  NaN  NaN  NaN  NaN  NaN  3081.0  0.0
29734  NaN  NaN  NaN  NaN  NaN  NaN   237.0  1.0
29735  NaN  NaN  NaN  NaN  NaN  NaN   406.0  1.0
29824  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
29825  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN

[8 rows x 25 columns]
Mediana  1800.0
Registros NO NULOS:  29992
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
160      161   30000  1.0  1.0  2.0  41.0  2.0  2.0  2.0  0.0  ...  28168.0
173      174   50000  2.0  1.0  2.0  24.0  1.0 -1.0 -1.0 -1.0  ...   2898.0
245      246   20000  2.0  2.0  2.0  40.0  0.0  0.0  0.0  0.0  ...  19575.0
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...      NaN
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...      NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...      NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...      NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...      NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...      NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...      NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...      NaN

           X16      X17     X18     X19     X20  X21     X22     X23    Y
160    27579.0  28321.0  3500.0     0.0  2200.0  NaN  1200.0  1250.0  0.0
173     3272.0   3272.0     0.0     0.0     0.0  NaN     0.0     0.0  1.0
245        0.0      0.0  1601.0  2203.0  2114.0  NaN     NaN     0.0  0.0
6232       NaN      NaN     NaN     NaN     NaN  NaN     NaN     NaN  NaN
24123      NaN      NaN     NaN     NaN     NaN  NaN     NaN   360.0  0.0
24365      NaN      NaN     NaN     NaN     NaN  NaN     NaN   390.0  0.0
29733      NaN      NaN     NaN     NaN     NaN  NaN     NaN  3081.0  0.0
29734      NaN      NaN     NaN     NaN     NaN  NaN     NaN   237.0  1.0
29735      NaN      NaN     NaN     NaN     NaN  NaN     NaN   406.0  1.0
29824      NaN      NaN     NaN     NaN     NaN  NaN     NaN     NaN  NaN
29825      NaN      NaN     NaN     NaN     NaN  NaN     NaN     NaN  NaN

[11 rows x 25 columns]
Mediana  1500.0
Registros NO NULOS:  29989
          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...      X15  \
245      246   20000  2.0  2.0  2.0  40.0  0.0  0.0  0.0  0.0  ...  19575.0
246      247  250000  2.0  2.0  1.0  75.0  0.0 -1.0 -1.0 -1.0  ...   1010.0
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...      NaN
23943  23944   20000  1.0  2.0  2.0  24.0  0.0  0.0  2.0  3.0  ...  17755.0
24123  24124   50000  1.0  1.0  2.0  29.0  0.0  0.0  0.0  0.0  ...      NaN
24365  24366  130000  2.0  1.0  1.0  35.0  0.0  0.0  0.0  0.0  ...      NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -1.0 -1.0 -1.0 -1.0  ...      NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...      NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...      NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...      NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...      NaN

           X16      X17     X18     X19     X20     X21  X22     X23    Y
245        0.0      0.0  1601.0  2203.0  2114.0     NaN  NaN     0.0  0.0
246     5572.0    794.0  1631.0  1536.0  1010.0  5572.0  NaN     NaN  0.0
6232       NaN      NaN     NaN     NaN     NaN     NaN  NaN     NaN  NaN
23943  17967.0  17538.0  3200.0  2200.0     0.0   800.0  NaN  1401.0  0.0
24123      NaN      NaN     NaN     NaN     NaN     NaN  NaN   360.0  0.0
24365      NaN      NaN     NaN     NaN     NaN     NaN  NaN   390.0  0.0
29733      NaN      NaN     NaN     NaN     NaN     NaN  NaN  3081.0  0.0
29734      NaN      NaN     NaN     NaN     NaN     NaN  NaN   237.0  1.0
29735      NaN      NaN     NaN     NaN     NaN     NaN  NaN   406.0  1.0
29824      NaN      NaN     NaN     NaN     NaN     NaN  NaN     NaN  NaN

In [55]:
#imputamos la mediana a las casillas nulas de cada columna X12 a la X23
keys=["X12","X13","X14","X15","X16","X17", "X18", "X19","X20","X21","X22", "X23"] 
copiadf=df_clean
for i in keys:
  nulos = pd.isnull(copiadf[i])
  mediana=(copiadf[i].median())
  copiadf[i].fillna(mediana,inplace=True)

In [56]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      30000 non-null  float64
 3   X3      30000 non-null  float64
 4   X4      30000 non-null  float64
 5   X5      30000 non-null  float64
 6   X6      30000 non-null  float64
 7   X7      30000 non-null  float64
 8   X8      30000 non-null  float64
 9   X9      30000 non-null  float64
 10  X10     30000 non-null  float64
 11  X11     30000 non-null  float64
 12  X12     30000 non-null  float64
 13  X13     30000 non-null  float64
 14  X14     30000 non-null  float64
 15  X15     30000 non-null  float64
 16  X16     30000 non-null  float64
 17  X17     30000 non-null  float64
 18  X18     30000 non-null  float64
 19  X19     30000 non-null  float64
 20  X20     30000 non-null  float64
 21  X21     30000 non-null  float64
 22  X22     30000 non-null  float64
 23  X23     30000 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

Vemos como quedó el dataframe limpio de nulos en las variables de entrada y hay 3 datos nulos en la variable de salida Y.

"Y" es la probabilidad del modelo. 
Dado que estos son datos faltantes no al azar , y como son pocos los datos nulos , 3 renglones , eliminaremos esas filas de los datos.

Procederemos a eliminar esos 3 renglones con datos nulos en la variable de salida:

In [61]:
df2 = df_clean.copy()
df2.dropna(inplace = True)

Verificamos que efectivamente no existan valores nulos

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29997 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      29997 non-null  int64
 1   X1      29997 non-null  int64
 2   X2      29997 non-null  float64
 3   X3      29997 non-null  float64
 4   X4      29997 non-null  float64
 5   X5      29997 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29997 non-null  float64
 8   X8      29997 non-null  float64
 9   X9      29997 non-null  float64
 10  X10     29997 non-null  float64
 11  X11     29997 non-null  float64
 12  X12     29997 non-null  float64
 13  X13     29997 non-null  float64
 14  X14     29997 non-null  float64
 15  X15     29997 non-null  float64
 16  X16     29997 non-null  float64
 17  X17     29997 non-null  float64
 18  X18     29997 non-null  float64
 19  X19     29997 non-null  float64
 20  X20     29997 non-null  float64
 21  X21     29997 non-null  float64
 22  X22     29997 non-null  float64
 23  X23     29997 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 6.0 MB

Y como resultado tenemos una nueva data frame de 29997 filas y 25 columnas donde no existe ningún valor nulo

#4.- Funcion describe()

In [65]:
df2.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,...,29997.000000,29997.000000,29997.000000,29997.000000,2.999700e+04,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000
mean,14999.803847,167496.072274,1.603794,1.840751,1.553689,35.483782,0.075208,-0.007734,-0.030336,-0.075874,...,43339.381571,40385.523986,39017.091976,5662.352002,5.921706e+03,5225.052405,4826.365170,4799.417042,5216.012201,0.221189
std,8659.837419,129748.803871,0.489116,0.743247,0.518326,9.217348,0.990661,1.035672,1.023859,0.987239,...,64285.015119,60750.283359,59462.986458,16562.848369,2.304194e+04,17607.010539,15666.756595,15278.899254,17778.281538,0.415054
min,1.000000,10000.000000,1.000000,1.000000,1.000000,21.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7501.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2400.000000,1868.000000,1361.000000,1000.000000,8.360000e+02,390.000000,298.000000,254.000000,118.000000,0.000000
50%,15000.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19068.000000,18128.000000,17135.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22499.000000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50209.000000,49252.000000,5006.000000,5.000000e+03,4505.000000,4013.000000,4031.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,4.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000